// Place all the styles related to the Api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .modal-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

.login-modal {
  // border: 2px black solid;
  outline: none;
  display: flex;
  margin: auto;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 400px;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: .9;
  transition: opacity 200ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 200ms ease-in;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 380px;
  width: 320px;
  font-size: 18px;
  font-family: 'Athiti', sans-serif;
  background-color: #094a68;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 3px 3px black;
}

.session-form > h2 {
  font-family: 'Athiti', sans-serif;
  color: white;
  margin-bottom: 20;
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 80px;
  width: 200px;
}

.input-field > input {
  width: 196px;
}

.input-field > span {
  padding-bottom: 5px;
}

.errors > ul {
  margin: 0;
  width: 180px;
  height: 30px;
  text-align: center;
}

.error {
  color: red;
  margin: auto;
}

.session-buttons > button {
  height: 40px;
  width: 100px;
  color: white;
  font-weight: bold;
  font-family: 'Athiti', sans-serif;
  font-size: 18px;
  background-color: #094a68;
  border: 2px white solid;
  text-align: center;
  cursor: pointer;
}

.signup-button {
  border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;
}

.login-button {
  border-top-right-radius: 10px;
  // border-bottom-right-radius: 10px;
}

input {
  border-radius: 5px;
}

.error {
  list-style-type: none;
  font-size: 14px;
}

.demologin-button {
  height: 40px;
  width: 200px;
  color: white;
  font-weight: bold;
  font-family: 'Athiti', sans-serif;
  font-size: 18px;
  background-color: #094a68;
  border: 2px white solid;
  text-align: center;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
