.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;

}

.main-page {
  color: white;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fugaz One', cursive;
  font-size: 30px;
}

.start-button {
  width: 300px;
  height: 10%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgba(100,200,100,0.7);
  color: white;
  border-radius: 10px;
}

.start-button:hover {
  transform: scale(1.05)
}

.sub-info {
  color: white;
  display: flex;
  flex-direction: row;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 30vh;

  // background: rgba(0,0,0,0.3);
  // border: 1px rgba(100,100,100,0.3) solid;
}

.info-img {
  filter: invert(100%);
  padding-bottom: 20px;
}
