.landing {
  display: flex;
  justify-content: space-around;
  color: white;
  // height: 70vh;
  padding-top: 5vh;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-family: 'Fugaz One', cursive;
}

.landing-choices {
  display: flex;
}

.leftlanding {
  display: flex;
  flex-direction: column;
}

.landchoice {
  display: flex;
  flex-direction: column;
  padding: 15px;
  // align-items: center;
}

.landing-button {
  width: 17vh;
  margin-top: 2.5vh;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  background-color: rgba(50,150,50,0.8);
  color: white;
  cursor: pointer;
}

.landing-button:hover {
  transform: scale(1.05);
}

.news {
  padding-top: 5vh;
}

.newslist {
  margin: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 650px;
}

.news-li{
  display: flex;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  border: 2px rgba(200,200,200,0.7) solid;
  border-bottom: 1px rgba(200,200,200,0.7) solid;
}

.news-li:last-of-type {
  border-bottom: 2px rgba(200,200,200,0.7) solid;
}

.news-img {
  width: 180px;
  height: 131px;
}

.img-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 2px rgba(200,200,200,0.7) solid;
  min-height: 112px;
  padding: 10px;
}

.news-date {
  font-size: 14px;
}

.news-body {
  font-size: 14px;
  padding-top: 1vh;
}

.rightlanding {
  margin-top: 8vh;
  width: 45vh;
  font-size: 14px;
  // text-align: center;
}

.tabheader {
  margin-top: 0px;
}

.whatsacontest {
  background-color: rgba(0.5,0.5,0.5,0.7);
  border-radius: 10px;
  padding: 3vh;
}

.howtoplay {
  margin-top: 7vh;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 3vh;
}

.tutorial, .news-body {
  color: lightgrey;
}
