.lobby-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.list-table {
  box-shadow: 3px 3px black;
  font-family: 'Athiti', sans-serif;
  color: white;
  background-color: #094a68;
  border-radius: 10px;
}

.contest-data-l {
  width: 250px;
}

.contest-data-s {
  width: 150px;
}

th {
  font-size: 20px;
  border-bottom: 1px solid #cee1ff;
}

td {
  font-size: 16px;
  /*border-left: 1px solid #cee1ff;*/
}

th, td {
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

.enter-contest {
  padding-right: 10px;
  padding-bottom: 5px;
}
