$testblue: #142c49;
$testbluetwo: #094a68;

.lobby-list {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: flex-start;
  height: 80vh;
  overflow: hidden;
}

.list-table {
  color: white;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  overflow-y: scroll;
  font-family: Helvetica, Arial, sans-serif;
}

.table--fixed tbody tr:nth-child(odd){
  background-color: rgba(100,100,100,0.4);
  /*border: 10px #142c49 solid;*/
}

.table--fixed tr:nth-child(odd)>td {
  outline: 1px rgba(100,100,100,0.4) solid;
}

.table--fixed {
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.table--fixed thead>tr {
  display: flex;
  justify-content: flex-start;
  // // text-align: right;
  // > tr {
  //   display: flex;
  //   >th {
  //     flex: 1;
  //   }
  //   >th:nth-child(2) {
  //     flex: 0 0 20px;
  //   }
  // }

}

.table--fixed tbody {
  max-height: 65vh;
  // overflow: hidden;
  overflow-y: auto;
  width: 100%;
}

/* Contest Formatting*/
.contest-data-l {
  width: 250px;
}

.contest-data-s {
  width: 150px;
}

td {
  font-size: 16px;
}

th, td {
  /*text-align: left;*/
  padding: 10px;
  // font-weight: bold;
}

th {
  font-size: 16px;
  text-align: left;
  /*border-bottom: 1px solid #cee1ff;*/
}

.cn {
  width: 23.8%
}

.pv {
  width: 14.5%;
}

.mc {
  width: 14.5%;
}

.pp {
  width: 14.5%;
}

.cd {
  width: 14%;
}

.empty {
  width: 8.8%
}

.enter-contest {
  padding-right: 10px;
  padding-bottom: 5px;
}

.enter-button {
  font-family: 'Athiti', sans-serif;
  width: 80px;
  background-color: #70a1ef;
  border: none;
  box-shadow: 1px 1px black;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.enter-button:hover {
  background-color: #276d11;
  color: white;
}
