$greyback: #dee2e8;


.draft-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  // border: 1px
}

.draft-list {
  max-height: 770px;
  width: 600px;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.25);
  list-style-type: none;
}

.my-team {
  max-height: 85vh;
  width: 500px;
  overflow-y: auto;
  background-color: #dee2e8;
  list-style-type: none;
}

.player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border: 1px solid black;
  padding: 5px;
}

.player-position {
  min-width: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-name {
  display: flex;
  min-width: 155px;
  justify-content: center;
  align-items: center;
}

.stat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 38px;
  max-width: 38px;
  justify-content: space-around;
  align-items: center;
}

.stats-myteam {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  min-width: 100px;
  // max-width: 140px;
  justify-content: center;
  align-items: center;
}

.draft-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.draft-button > button {
  background-color: transparent;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  border: 2px #F28400 solid;
  color: #F28400;
  font-weight: bold;
  cursor: pointer;
}

.drop-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-button > button {
  background-color: transparent;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  border: 2px red solid;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.list-title {
  padding: 15px;
  font-size: 24px;
  background-color: blue;
}
