.create-contest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://i.stack.imgur.com/MtKUX.jpg');
  height: 500px;
  width: 350px;
  font-weight: bold;
  border-radius: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.contest-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.contest-input {
  background: transparent;
  border: none;
  border-bottom: 2px black solid;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 5px;
  width: 100%;
}

.contest-button {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 40px;
  width: 200px;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: transparent;
  border: 2px black solid;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.contest-button:disabled {
  background-color: rgba(0,0,0,0.2);
  border: 2px grey solid;
  color: darkgrey;
  cursor: not-allowed;
}

.contest-form-error {
  text-align: center;
  height: 32px;
  /*padding-bottom: 15px;*/
}

.contest-input-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 50px;
  width: 200px;
}
